*{
    background-color: #f4f7f9;
}

.first-div{
    background-color: #ffffff;
    border-color: none;
    border: 5px solid;
    border-width: 5px;
    border-radius: 40px;
}

.first-div{
    margin: 300px 10px 10px 100px;
    max-width: 20%;
    height: 40rem;
}

.programmed{
    background-color: #ffffff;
    padding-left: 30px;
    font-weight: bolder;
}

.second-div{
    background-color: #ffffff;
    border-color: none;
    border: 5px solid;
    border-width: 5px;
    border-radius: 40px;
}

.second-div{
    margin:-900px 10px 100px 700px;
    max-width: 20%;
    height: 40rem;
    justify-content: space-between;
}



.program{
    background-color: #ffffff;
    padding-left: 30px;
    font-weight: bolder;
}

